<!DOCTYPE html>
<html>
<head>
  <title>.Net Color 2 Hex | Gordon Beeming</title>
  <style type="text/css">
    body {
      font-family:'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:#111111;
    }
    table {
      border-top: solid 1px #808080;
      border-left: solid 1px #808080;
    }
    table th, table td {
      text-align:left;
      border-right: solid 1px #808080;
      border-bottom: solid 1px #808080;
    }
    table th {
      font-weight:bold;
    }
    table td {
      text-align:left;
    }
    .github{
      position:fixed;
      top:0;
      right:0;
      width:340px;
      border-bottom:solid 1px #808080;
      border-left:solid 1px #808080;
      background-color:white;
      padding:0;
    }
    .github iframe{
      margin:5px;
    }
    .github span{
      position:absolute;
      left:235px;
      bottom:10px;
      font-size:10px;
    }
  </style>
</head>
<body>
  <h1>.Net Color 2 Hex</h1>

  <p>I often have a <a href="http://r3f.co/1SrvOrd" target="_blank">System.Drawing.Color</a> value that I don't know the actual color of the color so normally have to do a quick app to get the color.</p>

  <p>This sample app now has all those colors so if can just be referenced =).</p>

  <table cellpadding="3" cellspacing="0">
    <tr>
      <th>Color</th>
      <th>Hex</th>
      <th>Sample</th>
    </tr>

    @foreach (var color in typeof(System.Drawing.Color).GetProperties(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.GetProperty))
    {
      System.Drawing.Color colorValue = (System.Drawing.Color)color.GetValue(new System.Drawing.Color());
        string hexValue = colorValue.ToArgb().ToString("X8").Substring(2, 6);
        <tr>
          <td>System.Drawing.Color.@color.Name</td>
          <td># @hexValue</td>
          <td align="center" valign="middle" style="background-color:#@(hexValue);">&nbsp;</td>
        </tr>

    }

  </table>

  <center>&copy; @(DateTime.Now.Year) Gordon Beeming</center>

  <div class="github">
    <iframe src="https://ghbtns.com/github-btn.html?user=Gordon-Beeming&repo=DotNetColorToHex&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=Gordon-Beeming&repo=DotNetColorToHex&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=Gordon-Beeming&repo=DotNetColorToHex&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    <br />

    <iframe src="https://ghbtns.com/github-btn.html?user=Gordon-Beeming&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>

    <span>powered by<br /><a href="https://ghbtns.com/" target="_blank">ghbtns.com</a></span>
  </div>

</body>
</html>
